<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Customer</title>
    
	<!-- BOOTSTRAP STYLES-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="  {{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{{ url_for('static', filename='assets/css/custom.css') }}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  
</head>
<body>           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><i class="fa fa-square-o "></i>&nbsp;Delete Customer</a>
                </div>
            </div>
        </div>
        
        
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <img src="{{ url_for('static', filename='assets/img/find_user.png') }}" class="img-responsive" />                     
                    </li>
                    <li>
                        <a class="nav-link external" href="{{ url_for('admin_page') }}"><i class="fa fa-desktop "></i>Dashboard</a>
                    </li>

					<li>
                        <a href="#"><i class="fa fa-edit "></i>Customer<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="nav-link external" href="{{ url_for('customer_list_page') }}">List</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('customer_add_page') }}">Add</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('customer_update_page') }}">Update</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('customer_delete_page') }}">Delete</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Contract<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="nav-link external" href="{{ url_for('contract_list_page') }}">List</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('contract_add_page') }}">Add</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('contract_update_page') }}">Update</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('contract_delete_page') }}">Delete</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Address<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="nav-link external" href="{{ url_for('address_list_page') }}">List</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('address_add_page') }}">Add</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('address_update_page') }}">Update</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('address_delete_page') }}">Delete</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Wallet<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                           <li>
                                <a class="nav-link external" href="{{ url_for('wallet_list_page') }}">List</a>
                            </li>
                            <li>
                               <a class="nav-link external" href="{{ url_for('wallet_add_page') }}">Add</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('wallet_update_page') }}">Update</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('wallet_delete_page') }}">Delete</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Tariff<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="nav-link external" href="{{ url_for('tariff_list_page') }}">List</a>
                            </li>
                            <li>
                               <a class="nav-link external" href="{{ url_for('tariff_add_page') }}">Add</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('tariff_update_page') }}">Update</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('tariff_delete_page') }}">Delete</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Balance<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="nav-link external" href="{{ url_for('balance_list_page') }}">List</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('balance_add_page') }}">Add</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('balance_update_page') }}">Update</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('balance_delete_page') }}">Delete</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Msisdn<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="nav-link external" href="{{ url_for('msisdn_list_page') }}">List</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('msisdn_add_page') }}">Add</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('msisdn_update_page') }}">Update</a>
                            </li>
                            <li>
                                <a class="nav-link external" href="{{ url_for('msisdn_delete_page') }}">Delete</a>
                            </li>
                        </ul>
                    </li>
                    
                     <li>
                        <a href="#"><i class="fa fa-edit "></i>Campaign<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">List</a>
                            </li>
                            <li>
                                <a href="#">Add</a>
                            </li>
                            <li>
                                <a href="#">Update</a>
                            </li>
                            <li>
                                <a href="#">Delete</a>
                            </li>
                        </ul>
                    </li>               
            
                </ul>

            </div>

        </nav>
        
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Delete Customer</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                  
	              	<div class="col-md-4">
                        <div class="form-group">
                           <form class="customer-add-form" method="post">
                           	  <h4>Customer ID</h4>
                           	  <input class="form-control" type="text" placeholder="id" name="id"  value="{{ request.form.id }}"/><br>    
						      <button class="btn btn-success btn-lg btn-block">Delete Customer</button><br>
						      {% if info %}
			         			 <p class="error" align="center"><strong> {{ info }} </strong> 
			        		  {% endif %}						      
						   </form>                            
                        </div>
                    </div>
                    
                 <!-- /. ROW  -->           
   			 </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>

    <script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ url_for('static', filename='assets/js/jquery.metisMenu.js') }}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    
   
</body>
</html>
