<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tariff and Campaigns</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">    
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.5.0/css/font-awesome.min.css') }}">                
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">                                     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }} ">                                   

</head>
    <body id="top" class="tm-bg-img-content">
        <div class="container-fluid">            
            
            <div>
                <div class="row tm-color-row tm-bg-blue-1"></div>
                <div class="row tm-color-row tm-bg-blue-2"></div>
                <div class="row tm-header-row tm-bg-blue-3">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">
                        
                        <h1 class="tm-text-blue-1 tm-h1">Up-to-Date Tariffs and Campaigns</h1>

                    </div>
                </div>

                <!-- 2. Navigation -->
                <div class="row tm-bg-blue-1">
                    <div class="tm-navbar-container">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <nav class="navbar navbar-full">                                
                                
                                <div class="text-xs-center tm-sm-bg-blue tm-navbar-rounded" id="tmNavbar">   
                                    <ul class="nav navbar-nav tm-nav">
                                        <li class="nav-item">
                                            <a href="{{ url_for('index_page') }}" class="nav-link">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#tariff-section" class="nav-link">Tariffs</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#campaign-section" class="nav-link">Campaigns</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>  
                        </div>
                    </div>  
                </div>
            </div>            

            <!-- 1. Pack -->
            <div class="row tm-section-small-pad" id="tariff-section">                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                    
                    <div class="tm-plan-boxes-container">                    
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-container">                            
                            <table class="tm-table-full-width tm-font-normal">
                                <thead>
                                    <tr class="tm-bg-green-1">
                                        <th class="tm-plan-table-header">{{ tariff_list[0][1] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tm-bg-green-2"><td class="tm-plan-table-cell">{{ tariff_list[0][4] }} MB</td></tr>
                                    <tr class="tm-bg-pink-1"><td class="tm-plan-table-cell">{{ tariff_list[0][5] }} MIN</td></tr>
                                    <tr class="tm-bg-pink-2"><td class="tm-plan-table-cell">{{ tariff_list[0][6] }} SMS</td></tr>
                                    <tr class="tm-bg-pink-3"><td class="tm-plan-table-cell">{{ tariff_list[0][3] }} ₺</td></tr>
                                    <tr class="tm-bg-green-3">
                                    	<td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
                                    		<a href="#" class="tm-bg-green-1 tm-btn-rounded tm-btn-rounded-tall tm-btn-blue">Buy</a>
                                    	</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-container">
                            
                            <table class="tm-table-full-width tm-font-normal">
                                <thead>
                                    <tr class="tm-bg-pink-1">
                                        <th class="tm-plan-table-header">{{ tariff_list[1][1] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tm-bg-pink-2"><td class="tm-plan-table-cell">{{ tariff_list[1][4] }} MB</td></tr>
                                    <tr class="tm-bg-blue-1"><td class="tm-plan-table-cell">{{ tariff_list[1][5] }} MIN</td></tr>
                                    <tr class="tm-bg-blue-2"><td class="tm-plan-table-cell">{{ tariff_list[1][6] }} SMS</td></tr>
                                    <tr class="tm-bg-blue-3"><td class="tm-plan-table-cell">{{ tariff_list[0][3] }} ₺</td></tr>
                                    <tr class="tm-bg-pink-2">
                                    	<td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
                                    		<a href="#" class="tm-bg-pink-1 tm-btn-rounded tm-btn-rounded-tall tm-btn-green">Buy</a>
                                    	</td>
                                    </tr>
                                </tbody>
                            </table> 

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-container">

                            <table class="tm-table-full-width tm-font-normal">
                                <thead>
                                    <tr class="tm-bg-blue-1">
                                        <th class="tm-plan-table-header">{{ tariff_list[2][1] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tm-bg-blue-2"><td class="tm-plan-table-cell">{{ tariff_list[2][4] }} MB</td></tr>
                                    <tr class="tm-bg-purple-1"><td class="tm-plan-table-cell">{{ tariff_list[2][5] }} MIN</td></tr>
                                    <tr class="tm-bg-purple-2"><td class="tm-plan-table-cell">{{ tariff_list[2][6] }} SMS</td></tr>
                                    <tr class="tm-bg-purple-3"><td class="tm-plan-table-cell">{{ tariff_list[2][3] }} ₺</td></tr>
                                    <tr class="tm-bg-blue-3">
                                    	<td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
                                    		<a href="#" class="tm-bg-blue-1 tm-btn-rounded tm-btn-rounded-tall tm-btn-pink">Buy</a>
                                    	</td>
                                    </tr>
                                </tbody>
                            </table> 

                        </div>

                    </div>

                </div>

            </div> <!-- row -->

            <!-- 2. Package -->
            <div class="row tm-section-small-pad" id="campaign-section">
                                        
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    
                    <div class="tm-plan-boxes-container">
                    
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-container">
                            
                            <table class="tm-table-full-width tm-font-thin">
                                <thead>
                                    <tr class="tm-bg-pink-1">
                                        <th class="tm-plan-table-header">{{ campaign_list[0][1] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tm-bg-pink-2"><td class="tm-plan-table-cell">{{ campaign_list[0][2] }}<br><br></td></tr>
                                    <tr class="tm-bg-pink-3"><td class="tm-plan-table-cell">{{ campaign_list[0][3] }}<br><br></td></tr>
                                    <tr class="tm-bg-pink-3">
                                        <td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
                                            <a href="#" class="tm-bg-pink-1 tm-btn-rounded tm-btn-pink">Transfer</a>
                                        </td>
                                    </tr>                                            
                                </tbody>
                            </table>  

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-container">
                            
                            <table class="tm-table-full-width tm-font-thin">
                                <thead>
                                    <tr class="tm-bg-blue-1">
                                        <th class="tm-plan-table-header">{{ campaign_list[1][1] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tm-bg-blue-2"><td class="tm-plan-table-cell">{{ campaign_list[1][2] }}</td></tr>
                                    <tr class="tm-bg-blue-3"><td class="tm-plan-table-cell">{{ campaign_list[1][3] }}</td></tr>
                                    <tr class="tm-bg-blue-3">
                                        <td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
                                            <a href="#" class="tm-bg-blue-1 tm-btn-rounded tm-btn-blue">Transfer</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-container">

                            <table class="tm-table-full-width tm-font-thin">
                                <thead>
                                    <tr class="tm-bg-gold-1">
                                        <th class="tm-plan-table-header">{{ campaign_list[2][1] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tm-bg-gold-2"><td class="tm-plan-table-cell">{{ campaign_list[2][2] }}</td></tr>
                                    <tr class="tm-bg-gold-3"><td class="tm-plan-table-cell">{{ campaign_list[2][3] }}<br><br></td></tr>
                                    <tr class="tm-bg-gold-3">
                                        <td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
                                            <a href="#" class="tm-bg-gold-1 tm-btn-rounded tm-btn-gold">Transfer</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
        <div class="tm-section-contact-form">
        <div class="container-fluid">
            <div class="row tm-footer">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">
                    
                    <div class="tm-social-icons-container">
                        <a href="https://github.com/yenicead" class="tm-social-icon-link-brown"><i class="fa fa-github tm-social-icon"></i></a>
                        <a href="https://tr.linkedin.com/in/yenicead" class="tm-social-icon-link-brown"><i class="fa fa-linkedin tm-social-icon"></i></a>
                    </div>

                </div>

                <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">
                    <p class="tm-copyright-text">Copyright &copy; 2017 CS-CELL</p>
                </footer>

            </div>                
        </div>
    </div> 
        
</body>
</html>